<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spell in Wonderland</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/teacup.png" type="image/png">

</head>
<div class="container">
    <h1>Spell in Wonderland</h1>
    <div class="buttons-container">
        <div class="button-wrapper">
            <a href="/templates/spell.html">
                <button class="difficulty-button button-white-rabbit">White Rabbit</button>
            </a>
            <p class="difficulty-label">Beginner</p>
        </div>
        <div class="button-wrapper">
            <a href="/templates/sepll.html">
                <button class="difficulty-button button-cheshire-cat">Cheshire Cat</button>
            </a>
            <p class="difficulty-label">Intermediate</p>
        </div>
        <div class="button-wrapper">
            <a href="/templates/spell.html">
                <button class="difficulty-button button-queen-of-hearts">Queen of Hearts</button>
            </a>
            <p class="difficulty-label">Hard</p>
        </div>
        <div class="button-wrapper">
            <a href="/templates/sepll.html">
                <button class="difficulty-button button-mad-hatter">Mad Hatter</button>
            </a>
            <p class="difficulty-label">Bonus Expert</p>
        </div>
    </div>
</div>

</div>
</body>
</html>
